<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer! Enter your phrase:</h1>
    <form action="/piglatinize" method="post">
      <input type="text" name="user_phrase" value="">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
